<nav class="navbar navbar-inverse">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">We Tao</a>
		</div>
		<ul class="nav navbar-nav navbar-right">
			<% if (currentUser) { %>
				<li><a href="#"> <%= currentUser.username %></a></li>
				<li><a href="/logOut">Log out</a></li>
			<% } else { %>
				<li><a href="/logIn">Log in</a></li>
				<li><a href="/signUp">Sign up</a></li>
			<% } %>	
		</ul>
	</div>
</nav>
<div>
	<div class="container">
		<% errors.forEach(function(error) { %>
			<div class="alert alert-danger" role="alert">
				<%= error %>
			</div>
		<% }) %>
	</div>
</div>